body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background-color: rgba(0,0,0,0.61);
  color: aliceblue;
}
.p {
  color: aliceblue!important;
}
.navbar {
  color: azure;
}
.navlink {
  color: aliceblue!important;
}
.dropdownTitle {
  color: aliceblue!important;
}
.loggedName {
  color: aliceblue!important;
  font-style: italic;
  text-decoration: underline;
}
.navlink:hover {
  color: rgba(205,36,46,0.9);
}
.brandText {
  color: rgba(205,54,0,0.9)!important;
  font-weight: bold!important;
  font-family: 'New Rocker', cursive;
}
.landing {
  position: relative;
  /* background: url("../img/showcase.jpg") no-repeat; */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing-inner {
  padding-top: 80px;
}
.btn-primary,  .btn-info {
  background-color: rgba(205, 19, 0, 0.9) !important;
  border-color: rgba(205, 19, 0, 0.9)  !important;
}
.navbar-main {
  background-color: rgba(0, 0, 0, 0.74) !important;
}
.sideMenu {
  background-color: rgba(0, 0, 0, 0.59) !important;
  border-color: aliceblue!important;
}
.sideMenuLink {
  color: aliceblue;
}
.sideMenuLink:hover {
  color: rgba(205,54,0,0.9);
}
.sideMenuLinkActive {
  color: aliceblue;
  background-color: rgba(205,54,0,0.9)!important;
}
.login {
  padding-top: 40px;
  padding-left: 40px;
}
.loginForm {
  width: 25%;
}
.innerCreateForm {
  background-color: #222222;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.outerCreateForm {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.toggleItemList {
  background-color: rgba(205,54,0,0.9)!important;
  text-align: center;
  line-height: 240px;
}
.toggleItemList:hover {
  color: black;
  cursor: pointer;
}
.itemListItem {
  color: aliceblue!important;
  background-color: rgba(0, 0, 0, 0.59) !important;
}
.itemListItem.active {
  background-color: rgba(205,54,0,0.9) !important;
}
.createNewButton {
  padding-top: 9px;
  padding-bottom: 9px;
  width: 166px;
  color: aliceblue;
  background-color: rgba(205,54,0,0.9);
  border: none;
}